.video-container {
  width: 70%;
  position: relative;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 2px gray;
}

.video-container video {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
}

.custom-controls {
  width: 100%;
  position: absolute;
  height: 40px;
  bottom: 0;
  margin: 0;
  background-color: rgba(2, 0, 36, 0.6);
  color: #fff;

  display: flex;
  align-items: center;
}

.custom-controls button {
  color: #fff;
  font-size: 20px;
  padding: 0 0.6rem;
  height: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-controls button:hover {
  background: rgba(74, 105, 189, 0.6);
}

.video-time {
  padding: 0 1rem;
}
