* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: rgb(213, 215, 218);
  background: linear-gradient(
    90deg,
    rgba(213, 215, 218, 1) 0%,
    rgba(226, 226, 226, 1) 100%
  );
}
